@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Helvetica, sans-serif;
}

#app {
  @apply bg-zinc-50;
  min-height: 100vh;
}

header > h1 {
  @apply text-green-950;
}

main {
  @apply max-w-7xl p-4;
  margin: 0 auto;
}

.navigation > a {
  @apply w-fit h-fit bg-green-800 text-zinc-50 font-medium shadow rounded hover:bg-green-700;
}
